html {
  height: 100%;
}

header {
  background-color: black;
  justify-content: center;
  font-size: large;
}
.content {
  max-width: 500px;
  margin: auto;
}
nav.menu {
  width: 100%;
  padding: 25px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: white;
  font-size: large;
}
nav.menu a {
  vertical-align: middle;
}
